<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about">About </a> </li>
						
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Bolarinwa Komolafe - "the developer"</h2>
					Hi, 
                    <p>My name is Bolarinwa Komolafe and I am currently studying Computer Programming and Analysis Co-op Diploma
                        at Seneca College of Applied Arts &amp; Technology. My interests cut across web programming and database design.</p>
                    <p></p>
                    Sincerely, <br/> 
                    Bolarinwa Komolafe
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>&copy; 2017 - Bolarinwa Komolafe</h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html>